html,
body{

margin:0;
padding:0;

overflow:hidden;

background:#000;

font-family:Arial,sans-serif;

}

canvas{

display:block;

}

#overlay{

position:absolute;

left:20px;
top:20px;

color:white;

z-index:100;

opacity:.6;

user-select:none;

  #version{

    position:fixed;

    top:20px;

    left:20px;

    z-index:99999;

    padding:15px 25px;

    background:#ff0000;

    color:#ffffff;

    font-family:Arial, sans-serif;

    font-size:28px;

    font-weight:bold;

    border:5px solid #ffff00;

    border-radius:10px;

    box-shadow:0 0 20px #000000;

}

}
